# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
out
gen

# 忽略匹配下列规则
### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.lock
rebel.xml

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

### node ###
node_modules

.DS_Store
!/pom.xml
